.char {
    margin: 2px;
    padding: 4px 2px;
    display: inline-block;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1;}
}

.caret {
    width: 2px;
    margin: 0;
    padding: 4px 1px;
    animation: blink 1s infinite;
    background-color: gray;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightpink;
}   